@page "/signup"
@using Giggle.Models.DomainModels
@using Giggle.Helpers
@using Giggle.Services
@inject NavigationManager Navigation
@inject IJSRuntime JS
@inject IUserService UserService
@inject ILogger<RegisterModel> Logger


<div class="container controls_filters" style="margin-top: 100px;">
    <div class="row">
        <div class="col-12 text-center flex-column d-flex justify-content-center">
            <div class="text-center">
                <h2>Sign Up</h2>
            </div>
            <a class="btn btn-primary btnmain btnlight mt-3">Sign Up using <strong>Google</strong></a>
            <div class="d-flex justify-content-between mt-5">
                <hr class="mx-2" style="width: -webkit-fill-available;">
                <p style="white-space: nowrap;">or sign up with your email</p>
                <hr class="mx-2" style="width: -webkit-fill-available;">
            </div>

            <EditForm Model="registerHelper.Model" OnValidSubmit="HandleValidSubmit" class="justify-content-center align-items-center mt-5 needs-validation" novalidate>
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="d-flex justify-content-between">
                    <div class="mb-3 mx-2 w-50">
                        <label for="firstName" class="form-label">@registerHelper.FirstName?.DisplayName</label>
                        <InputText id="firstName" @bind-Value="registerHelper.Model.FirstName" class="@($"form-control {registerHelper.FirstName?.ValidationClass}")" @oninput="e => registerHelper?.FirstName?.Validate(e)" placeholder="Name" />
                        <div class="invalid-feedback">
                            @registerHelper.FirstName?.ErrorMessage
                        </div>
                    </div>
                    <div class="mb-3 mx-2 w-50">
                        <label for="lastName" class="form-label">@registerHelper.LastName?.DisplayName</label>
                        <InputText id="lastName" @bind-Value="registerHelper.Model.LastName" class="@($"form-control {registerHelper.LastName?.ValidationClass}")" @oninput="e => registerHelper?.LastName?.Validate(e)" placeholder="Surname" />
                        <div class="invalid-feedback">
                            @registerHelper.LastName?.ErrorMessage
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="username" class="form-label">@registerHelper.Username?.DisplayName</label>
                    <InputText id="username" @bind-Value="registerHelper.Model.Username" class="@($"form-control {registerHelper.Username?.ValidationClass}")" @oninput="e => registerHelper?.Username?.Validate(e)" placeholder="Username" />
                    <div class="invalid-feedback">
                        @registerHelper.Username?.ErrorMessage
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">@registerHelper.Email?.DisplayName</label>
                    <InputText id="email" @bind-Value="registerHelper.Model.Email" class="@($"form-control {registerHelper.Email?.ValidationClass}")" @oninput="e => registerHelper?.Email?.Validate(e)" placeholder="Email Address" />
                    <div class="invalid-feedback">
                        @registerHelper.Email?.ErrorMessage
                    </div>
                </div>

                <div class="mb-3 password-container">
                    <label for="password" class="form-label">@registerHelper.Password?.DisplayName</label>
                    <InputText id="password" @bind-Value="registerHelper.Model.Password" type="password" class="@($"form-control {registerHelper.Password?.ValidationClass} password-control")" @oninput="e => registerHelper?.Password?.Validate(e)" placeholder="Password" />
                    <div class="invalid-feedback">
                        @registerHelper.Password?.ErrorMessage
                    </div>
                    <div class="input-group-addon">
                        <a class="btn-pass" @onclick="TogglePasswordVisibility" @ref="PasswordToggleRef">
                            <img src="img/s1/eye.svg" alt="" class="eye-close" />
                            <img src="img/s1/eyeopen.svg" alt="" class="eye-open d-none" />
                        </a>
                    </div>
                </div>

                <div class="mb-3 password-container">
                    <label for="passwordRepeat" class="form-label">@registerHelper.PasswordRepeat?.DisplayName</label>
                    <InputText id="passwordRepeat" @bind-Value="registerHelper.Model.PasswordRepeat" type="password" class="@($"form-control {registerHelper.PasswordRepeat?.ValidationClass} password-control")" @oninput="e => registerHelper?.PasswordRepeat?.Validate(e)" placeholder="Repeat Password" />
                    <div class="invalid-feedback">
                        @registerHelper.PasswordRepeat?.ErrorMessage
                    </div>
                    <div class="input-group-addon">
                        <a class="btn-pass" @onclick="TogglePasswordRepeatVisibility" @ref="PasswordRepeatToggleRef">
                            <img src="img/s1/eye.svg" alt="" class="eye-close" />
                            <img src="img/s1/eyeopen.svg" alt="" class="eye-open d-none" />
                        </a>
                    </div>
                </div>

                <div class="form-check d-flex justify-content-start mt-2">
                    <InputCheckbox id="terms" @bind-Value="registerHelper.Model.Terms" class="@($"form-check-input {registerHelper.Terms?.ValidationClass}")" @oninput="e => registerHelper.Terms?.Validate(e)" />
                    <label class="form-check-label mx-2" for="terms">
                        <span style="white-space: nowrap;">By Signing Up I agree with </span>
                        <a href="Conditions.html"><u style="white-space: nowrap;">Terms & Conditions</u></a>
                    </label>
                    <div class="invalid-feedback">
                        @registerHelper.Terms?.ErrorMessage
                    </div>
                </div>

                <div class="row buttons">
                    <button type="submit" class="btn btn-primary btnmain mt-3" disabled="@(!registerHelper.CanSubmit)">
                        @if (registerHelper?.IsSubmitting ?? false)
                        {
                            <span><i class="fa fa-spinner fa-spin"></i> Submitting...</span>
                        }
                        else
                        {
                            <span>Sign Up</span>
                        }
                    </button>
                </div>
            </EditForm>

            <p class="mt-5">
                Already have an Account? <a href="/login"><u>Sign In</u></a>
            </p>

            <div class="d-flex justify-content-between">
                <div>© 2024 Giggle.com</div>
                <div class="d-flex justify-content-between textGM">
                    <a href="Conditions.html" class="mx-2"><u class="">Terms and Conditions</u></a>
                    <a href="Privacy.html" class="mx-1"><u class="">Privacy Policy</u></a>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private RegisterHelper registerHelper;

    private ElementReference PasswordToggleRef;
    private ElementReference PasswordRepeatToggleRef;

    protected override void OnInitialized()
    {
        registerHelper = new RegisterHelper(JS, Navigation, UserService, Logger, updateUI);
        registerHelper.Initialize();
    }

    private async Task HandleValidSubmit()
    {
        await registerHelper.SubmitLogic();
    }

    private async Task TogglePasswordVisibility()
    {
        await JS.InvokeVoidAsync("togglePasswordVisibility", PasswordToggleRef);
    }

    private async Task TogglePasswordRepeatVisibility()
    {
        await JS.InvokeVoidAsync("togglePasswordVisibility", PasswordRepeatToggleRef);
    }

    private async Task updateUI()
    {
        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }
}
